<nav class="bg-transparent w-screen container mx-auto">
  <div class="flex flex-wrap items-center justify-between">
    <a href="/" class="logo mt-7"> </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 last:pr-0 items-center"
      >
        <li>
          <a
            routerLink="/fashion"
            routerLinkActive="router-link-active"
            class="menu-text"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/health"
            routerLinkActive="router-link-active"
            class="menu-text"
            >About us</a
          >
        </li>
        <li class="social-icons">
          <a
            routerLink="/sports"
            routerLinkActive="router-link-active"
            class="menu-text"
            ><em class="fa fa-linkedin-square"></em></a
          >
        </li>
        <li class="social-icons">
          <a
            routerLink="/sports"
            routerLinkActive="router-link-active"
            class="menu-text"
            ><em class="fa fa-instagram"></em></a
          >
        </li>
        <li class="social-icons">
          <a
            routerLink="/sports"
            routerLinkActive="router-link-active"
            class="menu-text"
            ><em class="fa fa-facebook-square"></em></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
