@use "variables" as *;

.menu-text {
  color: $light-grey;
}

.signin-button {
  background: $button-color;
  color: $light-grey;
}

.logo {
  height: 4.7rem;
  width: 7.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/logo.svg");
}

.menu-text {
  cursor: pointer;
}
