<main>
  <section class="upper-section">
    <app-header> </app-header>
    <section class="banner flex container mx-auto">
      <section class="">
        <h1 class="banner-heading text-5xl text-red-200">
          Curated and handpicked reviews for e-commerce products
        </h1>
        <input
          type="text"
          placeholder="Type your favorite product name"
          class="text-slate-400 border rounded-2xl bg-yellow-50 w-3/4 mt-12 text-2xl px-6 py-4"
        />
      </section>
      <section class="cart-img"></section>
    </section>
    <section class="main-section border container mx-auto p-10 mb-40">
      <h1 class="text-center text-2xl text-gray-700">Browse Categories</h1>
    </section>
  </section>

  <section class="second-section container mx-auto p-10 h-96 border">
    <h1 class="text-center text-2xl text-gray-700">Browse Categories</h1>
  </section>
  <section class="second-section container mx-auto p-10 h-96 border">
    <h1 class="text-center text-2xl text-gray-700">Browse Categories</h1>
  </section>
  <section class="second-section container mx-auto p-10 h-96 border">
    <h1 class="text-center text-2xl text-gray-700">Browse Categories</h1>
  </section>
</main>
<app-footer></app-footer>
