@use "common-styles/variables" as *;

.upper-section {
  background: #642b73;
  background: -webkit-linear-gradient(
    to right,
    $button-color,
    $dark-bg
  );
  background: linear-gradient(
    to right,
    $button-color,
    $dark-bg
  );
  height: 100vh;
}

.main-section {
  position: absolute;
  top: 700px;
  left: 0;
  right: 0;
  background: $white;
}

.section-gap {
  margin-top: 13rem;
}

.banner {
  align-items: center;
  @media screen and (min-width:768px) {
    justify-content: space-evenly;
  }
  height: 84%;
}

.banner-heading {
  font-family: "Oswald", sans-serif;
  color: $white;
  @media screen and (min-width:768px) {
    font-size: 4.3rem;
  }
}

.cart-img {
  background: url("../assets/images/shopping.png") no-repeat;
  background-size: cover;
  height: 100%;
  width: 40%;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 50%;
  }
}

.search-container {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 50%;
  }
}

.facts-section {
  opacity: 0.8;
  @media screen and (min-width:768px) {
    width: 33%;
  }
  margin-bottom: 2.5rem;
}

.buy-now {
  background: $button-color;
  color: $white;
  padding: 1rem 2.5rem;
  margin: 1rem 0;
}

.search-section {
  position: relative;
}

.search-button {
  background: $button-color;
  color: $white;
}

.search-input {
  outline: none;
}

.products-section {
  margin-bottom: 2.5rem;
}


.highlights {
  list-style: disc;
  li {
    margin:1.5rem 0;
    color: #ddd;
    opacity: 0.8;
  }
}


.features {
  @media screen and (min-width:768px) {
    width: 33%;
  }
  em {
    color: $button-color;
  }
}

.numbers {
  color: $dark-bg;
}

.black-bg {
  background: #000;
  color: #fff;
}
