<main>
  <section class="upper-section">
    <app-header> </app-header>
    <section class="banner flex container mx-auto">
      <section class="search-container md:w-1/2">
        <h1
          class="banner-heading xs:text-4xl text-amber-700 leading-tight"
        >
        Curated and pertinent information for the e-commerce products your are looking for
        </h1>
        <ul class="features md:text-2xl p-5">
          <li>A detailed analysis of the products to help you buy right</li>
          <li>Navigate easily to marketplace to buy the product</li>
          <li>Clear and concise reviews</li>
        </ul>

        <!-- <div class="search-section">
          <input
            type="text"
            placeholder="Type your favorite product name"
            class="search-input text-slate-400 w-3/4 mt-12 text-2xl px-6 py-4"
          />
          <button class="search-button text-2xl px-6 py-4"><em class="fa fa-search"></em></button>
        </div> -->
      </section>
      <section class="hidden md:block cart-img md:w-1/2"></section>
    </section>
  </section>
  <section class="section-gap container mx-auto py-10">
    <h1 class="text-center text-4xl text-gray-700 mb-16">Did you Know?</h1>
    <div class="facts md:flex md:space-x-20">
      <div class="facts-section p-10">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        similique repudiandae dolorem necessitatibus, id maxime fugiat error aut
        perferendis totam corrupti nobis vitae. Quis cumque animi vol
      </div>
      <div class="facts-section p-10">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        similique repudiandae dolorem necessitatibus, id maxime fugiat error aut
        perferendis totam corrupti nobis vitae. Quis cumque animi vol
      </div>
      <div class="facts-section p-10">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        similique repudiandae dolorem necessitatibus, id maxime fugiat error aut
        perferendis totam corrupti nobis vitae. Quis cumque animi vol
      </div>
    </div>
  </section>

  <section class="section-gap container mx-auto py-10 ">
    <h1 class="text-center text-4xl text-gray-700 mb-16">
      Your Guide To Buy Right
    </h1>
    <div class="md:flex md:space-x-20">
      <div class="facts-section p-10">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        similique repudiandae dolorem necessitatibus, id maxime fugiat error aut
        perferendis totam corrupti nobis vitae. Quis cumque animi vol
      </div>
      <div class="facts-section p-10">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        similique repudiandae dolorem necessitatibus, id maxime fugiat error aut
        perferendis totam corrupti nobis vitae. Quis cumque animi vol
      </div>
      <div class="facts-section p-10">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        similique repudiandae dolorem necessitatibus, id maxime fugiat error aut
        perferendis totam corrupti nobis vitae. Quis cumque animi vol
      </div>
    </div>
  </section>
  <section class="section-gap container mx-auto py-10">
    <div class="products-section md:flex md:space-x-20">
      <div class="product-desc w-3/4:md border p-10 bg-slate-200">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
        </p>
        <button class="buy-now">Buy Now</button>
      </div>
      <div class="product-image w-1/4:md border p-10 bg-slate-200">
        <img src="assets/images/placeholder.webp" alt="">
      </div>
    </div>
    <div class="md:flex mb-20 md:space-x-20">
      <div class="product-image w-1/4:md border p-10 bg-slate-200">
        <img src="assets/images/placeholder.webp" alt="">
      </div>
      <div class="product-desc w-3/4:md border p-10 bg-slate-200">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
        </p>
        <button class="buy-now">Buy Now</button>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
