<main>
  <section class="upper-section">
    <app-header> </app-header>
    <section class="banner flex container mx-auto">
      <section class="search-container md:w-1/2">
        <h1 class="banner-heading text-amber-700 leading-tight">
          Curated and pertinent information for the e-commerce products your are
          looking for
        </h1>
        <ul class="highlights md:text-2xl p-5">
          <li>A detailed analysis of the products to help you buy right</li>
          <li>Navigate easily to marketplace to buy the product</li>
          <li>Clear and concise reviews</li>
        </ul>

        <!-- <div class="search-section">
          <input
            type="text"
            placeholder="Type your favorite product name"
            class="search-input text-slate-400 w-3/4 mt-12 text-2xl px-6 py-4"
          />
          <button class="search-button text-2xl px-6 py-4"><em class="fa fa-search"></em></button>
        </div> -->
      </section>
      <section class="hidden lg:block cart-img md:w-1/2"></section>
    </section>
  </section>

  <section class="black-bg">
    <section class="container mx-auto py-40">
      <h1 class="text-center text-6xl text-gray-400 mb-24">Did you Know?</h1>
      <div class="facts lg:flex lg:space-x-20">
        <div
          class="lg:flex items-center shadow-xl h-64 justify-around facts-section p-10"
        >
          <div class="xs:block numbers text-7xl mr-5">54%</div>
          <div class="text-2xl">
            of online shoppers read reviews for everything they purchase
          </div>
        </div>
        <div
          class="lg:flex items-center justify-around shadow-xl facts-section p-10"
        >
          <div class="xs:block numbers text-7xl mr-4">100+</div>
          <div class="text-2xl">
            reviews make a business trustworthy, say 39% of online shoppers
          </div>
        </div>
        <div
          class="lg:flex items-center justify-around shadow-xl facts-section p-10"
        >
          <div class="xs:block numbers text-7xl mr-4">88%</div>
          <div class="text-2xl">
            of online shoppers read at least 3 reviews before purchase
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="container mx-auto py-40">
    <h1 class="text-center text-6xl text-gray-600 mb-24">
      Your Guide To Buy Right
    </h1>
    <div class="lg:flex lg:space-x-20 justify-evenly">
      <div
        class="features flex rounded h-64 items-center justify-center p-10 shadow-xl xs:my-24"
      >
        <em class="text-7xl far fa-file-alt mr-7"></em>
        <div class="text-4xl">Top Articles</div>
      </div>
      <div
        class="features flex rounded h-64 items-center justify-center p-10 shadow-xl xs:my-24"
      >
        <em class="text-7xl fas fa-cart-plus mr-7"></em>
        <div class="text-4xl">Top Rated Products</div>
      </div>
      <div
        class="features flex rounded h-64 items-center justify-center p-10 shadow-xl xs:my-24"
      >
        <em class="text-7xl fas fa-check mr-7"></em>
        <div class="text-4xl">Best Buy</div>
      </div>
    </div>
  </section>

  <section class="container mx-auto py-40">
    <h1 class="text-center text-6xl text-gray-600 mb-24">Recent Reviews</h1>
    <div class="products-section lg:flex justify-evenly lg:space-x-20">
      <div class="product-desc py-10 md:mb-52 w-10/12">
        <p class="text-2xl mb-10">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
        </p>
        <div class="flex items-center">
          <p class="text-4xl mr-10"><em class="fa fa-rupee"></em>400.00</p>
          <button class="buy-now">Buy This Product Online</button>
        </div>
      </div>
      <div class="product-image py-10">
        <img src="assets/images/placeholder.webp" alt="product-image" />
      </div>
    </div>
    <div class="products-section lg:flex justify-evenly lg:space-x-20">
      <div class="product-image py-10">
        <img src="assets/images/placeholder.webp" alt="product-image" />
      </div>
      <div class="product-desc py-10 md:mb-52 w-10/12">
        <p class="text-2xl mb-10">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
        </p>
        <div class="flex items-center">
          <p class="text-4xl mr-10"><em class="fa fa-rupee"></em>2400.00</p>
          <button class="buy-now">Buy This Product Online</button>
        </div>
      </div>
    </div>
    <div class="products-section lg:flex justify-evenly lg:space-x-20">
      <div class="product-desc py-10 md:mb-52 w-10/12">
        <p class="text-2xl mb-10">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          similique repudiandae dolorem necessitatibus, id maxime fugiat error
          aut perferendis totam corrupti nobis vitae. Quis cumque animi vol
        </p>
        <div class="flex items-center">
          <p class="text-4xl mr-10"><em class="fa fa-rupee"></em>100.00</p>
          <button class="buy-now">Buy This Product Online</button>
        </div>
      </div>
      <div class="product-image py-10">
        <img src="assets/images/placeholder.webp" alt="product-image" />
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
